@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Simple Print</h1>
    <br />
    <h3 class="display-4">Online 3D Design for Complete Beginners</h3>
    <br />
    <form method="post">
        <button class="bg-danger">Begin Designing</button>
    </form>
</div>
